@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
/* Reset styles */
* {
	margin: 0;
	padding: 0;
	border: none;
    
}

/* Typography */
body {
	background-color: rgb(250, 230, 234);
	font-family: Lato, sans-serif;
	font-size: 20px;
	line-height: 1.9;
	color: #3a3a3a;
}

h1, h2, h3 {
	font-weight: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
	color: #252525;
}
#logo {
    float: left;
    font-size: 280%;
	margin-left: 30px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right; 
      
}
 #menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
  margin-left: 10px;
    list-style-type: none;
}
/* hero image */
#hero-outer{
	height: 600px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#cover-text, #cover-text h2 {
color:#3a3a3a;
}
#cover-text, #cover-text h3 {
	color: white;

}
#hero-image{
	height: 600px;
	width: 100%;
	background: url("../images/hero-image.jpg") no-repeat center center;

	/* animates zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
	
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 350px;
    height: 260px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


h1 {
	font-size: 2.5rem;
	font-family: Oswald, sans-serif;

}

h2 {
	font-size: 2rem;
	font-family: Oswald, sans-serif;

}

h3 {
	font-size: 1.5rem;
}

p {
	margin-bottom: 2rem;
	font-family: Lato, sans-serif;

}

/* Layout */
header {
	background-color: white;
	padding: 0.1rem;
	box-shadow: 0 20px 20px rgba(241, 109, 107, .7);
}

nav {
	margin-top: 1rem;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 0.5rem;
}

nav a {
	color: #333;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.1rem;
	transition: all 0.3s ease;
}

nav a:hover {
	background-color: rgba(241, 109, 107, .7);
	color: white;
}

#main-content {
	height:600px;
}


#left-text {
    padding-top: 30px;
    width: 27%;
    float: left;
}

#right-text {
    padding-top: 30px;
    width: 25%;
    float: right;
}

#center-text {
   text-align: center;

	padding-top: 30px;
		width: 33%;
		margin: 0 auto;
		background-color: rgba(250, 189, 188, 0.833);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-text-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-text-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-text-heading h2 {
    text-align: right;


}

.right-text-heading p {
    text-align: right;
    font-weight:bold;
    line-height: 1.3;

}

.left-text-heading p {
    font-weight:bold;
    line-height: 1.3;

}



#second-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-block: 5%;
    gap: 20px;
    
  }
  
  #second-content > div {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: rgba(250, 189, 188, 0.833);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    
  }
  
 
  
  #second-content > div h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #second-content > div p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    font-weight:bold;

    
  }

/* button */

.button {
	display: inline-block;
	background-color: rgba(244, 96, 94, 0.635);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	text-decoration: none;
	margin-top: 1rem;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: rgb(128, 72, 71);

}
#welcome {
	text-align: center;
	margin: 10px 0;
	font-size: 150%;
	font-weight: 900;
}

footer {
	background-color: black;
	color: white;
	padding: 0.1rem;
	text-align: center;
	margin-top: 8rem;
}
.social-networks {
	text-align: center;
}
.social-networks > li {
	display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgba(250, 189, 188, 0.833);
}
/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}



#image-container {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    flex-direction: column;

}

.caption h2 {
    font-size: 2rem;
    text-align: center;
}
.caption {

    display: flex;
    flex-direction: column;
    justify-content: center;
}








/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #main-content {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-text, #right-text {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-text {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
    

}


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #main-content {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-text-heading, .right-text-heading {
        width: inherit;
    }

    .left-text-heading h2, .right-text-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-text-heading p, .right-text-heading p {
        text-align: center;
        padding: 0 20px;
    }
}


/* For small screen sizes below 600px width */
@media screen and (max-width: 600px) {
    #photos {
        column-count: 2;
    }
    
    #image-container .caption {
        
        max-width: 100%;
        height: auto;
     
    }
    nav {
		flex-direction: column;
		align-items: flex-start;
	}

	nav li {
		margin-left: 0;
		margin-bottom: 10px;
	}

	#menu-toggle {
		display: block;
	}

	nav ul {
		display: none;
	}

	nav.open ul {
		display: flex;
		flex-direction: column;
	}

	form {
		max-width: 300px;
		margin: 20px auto;
	}

	label,
	input[type="submit"] {
		display: block;
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 10px;
	}
}
  
   

  #signup {
    text-align: center;
    color: whitesmoke;
    
  }

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  form {
    background-color: rgba(241, 109, 107, .7);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #111111;
    padding: 20px;
    width: 600px;
    margin: 150px auto;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: whitesmoke;
  }
  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  input[type=submit] {
    background-color: rgb(241, 109, 107);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }